.MainLocation{
    padding-bottom: 20vh;
    
}
.locationTitle{

   text-align: center;
    color: white;
    font-size: 2vw;
    font-family: 'Vollkorn SC';
    text-decoration: underline;
}
.locationTitle:nth-child(2){
    text-decoration: none;
    font-size: 1.5vw;
}
.locationBody{

    display: flex;
}
.LocationName{
    background-color: brown;
    font-size: 4vh;
    color: white;
    font-family: 'Vollkorn SC';
    width: 20vw;
    display: inline-block;
  
}
.LocationName:hover{
    background-color: brown;
    opacity: 50%;
   
}
#kansas{
    float: right;
    margin-right: 5%;
}
#number{
    float: right;
    margin-right: 5%;
}

.info{
    display: inline-block;
    margin-left: 5%;
    color: white;
    font-family: 'Vollkorn';
    font-size: 3vh;
}
.Address{
    color: white;
    font-family: 'Vollkorn';
    font-size: 3vh;
}
.Number{
    color: white;
    font-family: 'Vollkorn';
    font-size: 2.7vh;
}
.locationdesc{
    padding-left: 20vw;
    
    width: 20vw;
}
.LocationName:nth-child(3){
    background: none;
    font-size: 2.7vh;
    margin-left: 17%;
   
}.LocationName:nth-child(3):hover{
    background: none;
    opacity: 100%;
   
}
.LocationName:nth-child(2){
    float: left;
    margin-left: 5%;
}