.MainServices{
    display: flex;
    align-content: center;
    position: relative;
    height: 100vh;
    padding: 20vh;
    margin-left: 10vw;
    
}
.Servicerow{
    display: inline-block;
    color: white;
    font-family: 'Vollkorn SC';
    font-style: normal;
    font-size: 2vw;
    text-align: center;
    color: #FFFFFF;
}
#girls{ 
    width: 30vw;
    margin-right: 5vw;
}
#priceDetails{
    margin-top: -2%;
}

.Prices{
    margin-top: -10%;
}

.serviceTitle{
    text-decoration: underline;
}
.serviceDescription{
    font-size: 1.4vw;
    text-align: left;
    font-family: 'Volkhov';
    margin-bottom: -6%;
    
}
.serviceSubTitle{
    margin-top: 15%;
    margin-bottom: -6%;
    font-size: 1.6vw;
    font-family: 'Volkhov';
    text-align: left;
    font-style: italic;
    text-decoration: underline;
}
.serviceBox{
    margin-bottom: 20%;
  
}