

.App{
  background-image: url("./Assets/background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: black;
}

html{
  scroll-behavior: smooth;
}
@media only screen and (max-width: 1112px) {
  #Desktop {
      display: none;
  }
  #Mobile{
    display: block;
  }
}
@media only screen and (min-width: 1112px) {
 
  #Mobile{
    display: none;
  }
}
@media only screen and (max-height: 690px) {
  #homebutton {
      visibility: hidden;
  }
}